:root {
  --container-width: 55rem;
  --border-color: #eaeaea;
}

html { font-size: 62.5%; }

@media screen and (min-width: 768px) { html { font-size: 65%; } }
@media screen and (min-width: 992px) { html { font-size: 70%; } }

body {
  color: #333;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.App {
  background-color: #fff;
  margin: 0 auto 20rem;
  max-width: var(--container-width);
  position: relative;
}

.weather-container {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/******************** ROWS ********************/
.row {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  height: 6rem;
}

.row--day {
  cursor: pointer;
}

.row--day:hover {
  background-color: #f3f3f3;
}

.row--hour {
  background-color: #f3f3f3;
  height: 4rem;
}

.row--hour:not(:last-child) {
  border-color: #fff;
}

.row--night {
  color: #bbb;
  height: 3rem;
}

/******************** ITEMS ********************/
.items {
  display: flex;
  align-items: baseline;
  flex-basis: 120%;
  padding-bottom: 0.2rem;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
}

.item--day {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.item--rainfall {
  justify-content: flex-end;
  font-size: 1.2rem;
  position: relative;
  right: 1rem;
}

.item--day .weekday,
.item--day .date,
.item--hour .hour {
  padding-left: 0.8rem;
}

.item--day .weekday {
  font-weight: 800;
  text-transform: uppercase;
}

.item--day .date {
  color: #888;
  font-size: 1.2rem;
}

.item--day,
.item--hour {
  flex-basis: 70%;
}

.item--icon {
  justify-content: center;
}

.item--temp {
  justify-content: center;
  padding: 0;
  flex-basis: 120%;
}

.item--windspeed {
  align-items: baseline;
  flex-basis: 50%;
}

.item--windspeed .smaller {
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}

.temp--max,
.temp--min {
  font-size: 2.2rem;
  width: 50%;
  display: flex;
}

.temp--max span,
.temp--min span {
  font-size: 2.2rem
}

.temp--max {
  justify-content: flex-end;
  padding-right: 0.3rem;
}

.temp--min {
  color: #bbb;
  padding-left: 0.3rem;
  justify-content: flex-start;
}



/******************** FOOTER ********************/
.footer {
  position: fixed;
  bottom: 0;
  max-width: var(--container-width);
  width: 100%;
}

.location-button-container {
  position: fixed;
  right: 3rem;
  bottom: 8rem;
  display: flex;
  justify-content: flex-end;
}

.source-buttons {
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2px;
}

.button--source + .button--source { margin-left: 2px; }

.button--combo {
  flex-grow: 2;
}


/******************** BUTTONS ********************/
.button {
  background-color: #ddd;
  border: 0;
  color: #bbb;
  cursor: pointer;
  outline: 0;
}

.button:active {
  transform: scale(0.9);
}

.button:hover,
.button.selected {
  background-color: #ccc;
  color: #888;
}

.button--location {
  border-radius: 100rem;
  box-shadow: 0 20px 36px -17px rgba(0,0,0,0.6);
  width: 8rem;
  height: 8rem;
}

.button--location span {
  background-image: url(./images/icon-pin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  display: block;
  height: 100%;
  opacity: 0.3;
}

.button--location:hover span {
  opacity: 0.5;
}

.button--source {
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 800;
  flex-grow: 1;
  height: 5rem;
  position: relative;
}

.button--combo {
  font-size: 2rem;
}


/******************** STATUS ********************/
.button--source.done:before,
.button--source.error:before {
  content: '';
  border-radius: 1000px;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  right: 10px;

  animation: status-animation 1.3s;
	animation-fill-mode: forwards;
}

@keyframes status-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  40%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.button--source.done:before {
  background-color: #20c36a94;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.button--source.error:before {
  background-color: #ea4c277a;
}

/******************** LOADING SPINNER ********************/
.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.loading-spinner > .bounce {
	background-color: #ccc;

	width: 18px;
	height: 18px;

	border-radius: 100%;
	display: inline-block;
	animation: bouncedelay 1.2s infinite ease-in-out both;
}

.loading-spinner .bounce--1 {
	animation-delay: -0.32s;
}

.loading-spinner .bounce--2 {
	animation-delay: -0.16s;
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	} 40% {
		transform: scale(0.7);
	}
}

/******************** ICONS ********************/
.item--icon {
  height: 100%;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.icon--clear-day { background-image: url(./images/clear-day.svg); }
.icon--partly-cloudy-day { background-image: url(./images/partly-cloudy-day.svg); }
.icon--cloudy { background-image: url(./images/cloudy.svg); }
.icon--overcast { background-image: url(./images/overcast.svg); }
.icon--rain { background-image: url(./images/rain.svg); }
.icon--sleet { background-image: url(./images/sleet.svg); }
.icon--snow { background-image: url(./images/snow.svg); }
.icon--fog { background-image: url(./images/fog.svg); }
.icon--thunder { background-image: url(./images/thunder.svg); }
.icon--night { background-image: url(./images/night.svg); }

/******************** TABLET ********************/
@media screen and (min-width: 768px) {
  .weather-container {
    border-top: 1px solid var(--border-color);
    margin-top: 3rem;
  }

  .item--day .weekday,
  .item--day .date,
  .item--hour .hour {
    padding-left: 2rem;
  }

  .item--rainfall {
    right: 4rem;
  }

  .button--location {
    box-shadow: 0 14px 36px -17px rgba(0,0,0,0.6);
    width: 12rem;
    height: 12rem;
  }

  .button--location span {
    background-size: 25%;
  }
}

/******************** DESKTOP ********************/
@media screen and (min-width: 992px) {
  .location-button-container {
    right: auto;
    bottom: 3rem;
    max-width: 73rem;
    width: 100%;
  }
}