:root {
  --container-width: 55rem;
  --border-color: #eaeaea;
  --label-height: 3rem;
}

html { font-size: 62.5%; }

@media screen and (min-width: 768px) { html { font-size: 65%; } }
@media screen and (min-width: 992px) { html { font-size: 70%; } }

body {
  color: #333;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.App {
  background-color: #fff;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  max-width: var(--container-width);
  margin: 0 auto 20rem;
  position: relative;
  text-align: center;
}

main {
  padding-top: var(--label-height);
}


/******************** ROWS ********************/
.row {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  height: 6rem;
}

.row--labels {
  background-color: #ddd;
  border-bottom: none;
  color: #888;
  font-size: 1.4rem;
  height: var(--label-height);
  position: fixed;
  top: 0;
  max-width: var(--container-width);
  width: 100%;
}

.row--hour {
  background-color: #f3f3f3;
  height: 4rem;
}

.row--hour:not(:last-child) {
  border-color: #fff;
}

/******************** ITEMS ********************/
.item {
  display: flex;
  align-items: center;
  width: 100%;
}

.item--day {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.item--rainfall {
  justify-content: flex-end;
  position: relative;
}

.item--rainfall span {
  position: absolute;
  right: 1rem;
}

.row:not(.row--labels) .item--rainfall {
  font-size: 1.2rem;
}

.row:not(.row--labels) .item--rainfall span {
  top: -0.4rem;
}

.row--labels .item--day span,
.item--day .weekday,
.item--day .date {
  padding-left: 0.8rem;
}

.item--day .weekday {
  font-weight: 800;
  text-transform: uppercase;
}

.item--day .date {
  color: #888;
  font-size: 1.2rem;
}

.item--day,
.item--hour {
  flex-basis: 70%;
}

.item--hour .hour {
  padding-left: 1.6rem;
}

.item--icon {
  justify-content: center;
}

.item--temp {
  justify-content: center;
  padding: 0;
  flex-basis: 120%;
}

.item--windspeed {
  align-items: baseline;
  flex-basis: 50%;
}

.item--windspeed .smaller {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.temp--max,
.temp--min {
  font-size: 2.2rem;
  width: 50%;
  display: flex;
}

.temp--max span,
.temp--min span {
  font-size: 2.2rem
}

.temp--max {
  justify-content: flex-end;
  padding-right: 0.3rem;
}

.temp--min {
  color: #bbb;
  padding-left: 0.3rem;
  justify-content: flex-start;
}



/******************** FOOTER ********************/
.footer {
  position: fixed;
  bottom: 0;
  max-width: var(--container-width);
  width: 100%;
}

.source-buttons {
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2px;
}

.source-button {
  background-color: #ddd;
  border: 0;
  border-radius: 4px;
  color: #bbb;
  cursor: pointer;
  font-size: 3rem;
  font-size: 2rem;
  font-weight: 800;
  flex-grow: 1;
  padding: 6rem 0;
  padding: 2rem 0;
  position: relative;
  outline: 0;
}

.source-button + .source-button { margin-left: 2px; }

.source-button:active {
  transform: scale(0.9);
}

.source-button:hover,
.source-button.selected {
  background-color: #ccc;
  color: #888;
}

.source-button.done:before,
.source-button.error:before {
  content: '';
  border-radius: 1000px;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  right: 10px;

  animation: status-animation 1.3s;
	animation-fill-mode: forwards;
}

@keyframes status-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  40%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.source-button.done:before {
  background-color: #20c36a94;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.source-button.error:before {
  background-color: #ea4c277a;
}

.source-button--combo {
  flex-grow: 2;
}

/******************** AJAX LOADER ********************/
#ajax-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#ajax-loader > .bounce {
	background-color: #ccc;

	width: 18px;
	height: 18px;

	border-radius: 100%;
	display: inline-block;
	animation: bouncedelay 1.2s infinite ease-in-out both;
}

#ajax-loader .bounce--1 {
	animation-delay: -0.32s;
}

#ajax-loader .bounce--2 {
	animation-delay: -0.16s;
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	} 40% {
		transform: scale(0.7);
	}
}

/******************** ICONS ********************/
.item--icon {
  height: 100%;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.icon--clear-day { background-image: url(./images/clear-day.svg); }
.icon--partly-cloudy-day { background-image: url(./images/partly-cloudy-day.svg); }
.icon--cloudy { background-image: url(./images/cloudy.svg); }
.icon--overcast { background-image: url(./images/overcast.svg); }
.icon--rain { background-image: url(./images/rain.svg); }
.icon--sleet { background-image: url(./images/sleet.svg); }
.icon--snow { background-image: url(./images/snow.svg); }
.icon--fog { background-image: url(./images/fog.svg); }
.icon--thunder { background-image: url(./images/thunder.svg); }
.icon--night { background-image: url(./images/night.svg); }

/******************** TABLET ********************/
@media screen and (min-width: 768px) {
  .row--labels .item--day span,
  .item--day .weekday,
  .item--day .date,
  .item--hour .hour {
    padding-left: 2rem;
  }

  .item--rainfall span {
      position: absolute;
      right: 3rem;
  }
}

/******************** DESKTOP ********************/
@media screen and (min-width: 992px) {

}